@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.loginContainer {
  padding: 25px;
  backdrop-filter: blur(5px);
  border: 1px solid white;
  border-radius: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


.particle-background {
  position: fixed;
  z-index: 1;
  /* Ensures it stays at the back */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* Ensures that it doesn't block interactions */
}

/* Main UI content tweaking highly flow correctly */
.app-content {
  position: relative;
  z-index: 20;
  /* Greater than particles ensuring render appropriate */
}


.indent-paragraph:first-line {
  @apply indent-8;
  /* Assuming you used an 2rem */
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  padding: 10px;
  backdrop-filter: blur(10px);
  /* Correct syntax */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari support */
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}


.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);

  @media (max-width: 576px) {
    width: 100px;

  }
}

.embla__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;


  @media (max-width: 576px) {
    height: 500px;
    object-fit: cover;
  }
}



.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 6rem;
  /* margin-top: var(--thumbs-slide-spacing); */
}

.embla-thumbs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.embla-thumbs__viewport {
  overflow: hidden;
}

.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}

.embla-thumbs__slide {
  flex: 0 0 22%;
  display: flex;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
}

@media (min-width: 576px) {
  .embla-thumbs__slide {
    flex: 0 0 15%;
  }
}

.embla-thumbs__slide__number {
  border-radius: 1.8rem;
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--detail-high-contrast);
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--thumbs-slide-height);
  width: 100%;
}

.embla-thumbs__slide--selected .embla-thumbs__slide__number {
  color: var(--text-body);
}
